.card-register {

  background-color: rgb(209,209,209);
  border-radius: 8px;
  color: #000000;
  max-width: 350px;
  margin: 90px 0 70px;
  min-height: 100 px;
  padding: 30px;
  opacity: 0.75;

  & label {
    margin-top: 15px;
  }
  & .card-title {
    color: #B33C12;
    text-align: center;
  }
  & .btn {
    margin-top: 30px;
  }
  & .forgot {
    text-align: center;
  }

}
