// Styling of pages outside of cards, buttons, etc.
//for styling classes of different pages etc.
//KEEP class names in alphabetical order for easier searching for now

.app-card{
  max-width: $width-default;
}

.btn-center{
  text-align: center;
}

.btn-right{
position: absolute;
top: 3%;
left: 83%;
}

.category-tags{
position: absolute;
display: inline-block;
left: 2%;
bottom: 0;
text-align: left;
max-height: 26%;
overflow: hidden;
  .tags{
    position: relative;
    display: inline-block;
    padding-right: 1.5px;
  }
}

.durationBox {
  float: right;
  background: #FAFAFA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  min-height: 70px;
  width: 200px;
  font-size: 16px;
  div{
    padding-left: 10px;
  }
}

.leftCol{
  float: left;
  width: 75%;
}

.rightCol{
  float: right;
  width: 25%;
}

.tag-parent{
position: relative;
left: 2%;
bottom: 0;
text-align: left;
overflow: hidden;
  .tags{
    position: relative;
    display: inline-block;
    padding-right: 1.5px;
  }
}
